.CSection{

height: 233px;
padding-top: 58.5px;
padding-bottom: 58.5px;
padding-left: 70px;
padding-right: 70px;
background: #FFFFFF;
box-shadow:0px 20px 114px rgb(13, 16, 37,0.06);
border-radius: 10px;
top: 115px;
position: relative;
z-index: 1;
}

.text1
{
font-style: normal;
font-weight: 500;
width: 400px;
height: 80px;
font-size: 35px;
line-height: 45px;
display: flex;
align-items: center;
color: #0B132A;
margin-bottom: 20px;
}
.text2
{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
color: #4F5665;
}