.section02
{
    margin-top: 104px;
    height: 200px;
    padding-top: 67.5px;
    padding-bottom: 67.5px;
    padding-left: 91px; 
    padding-right: 91px;
    border-radius: 10px;
    box-shadow: 0px 50px 114px rgb(13, 16, 37,0.06);

}

.mobile_cards{
   display: none;
}

@media only screen and (max-width: 600px) {
    .section02
    {
       
        margin-top: 0px;
        height: 700px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 0px;
        box-shadow: 0px 0px 0px rgb(253, 253, 253);
    }

    .mobile_cards{
        display: block;
    }
    .largeScreen_cards{
       display: none;
    }
}