

  body
  {
    font-family: 'Rubik', sans-serif;
 
  }
.navbar-toggler
{
  border: none;
  background-color: #FFF;
}



@media only screen and (max-width: 600px) {
  .footer
  {
     display: none;
  }
  .CSection
  {
    display: none;
  }

}